# Credit Card Approval Predition  
appying  Binary classification Problem  
 Using some  machine learning technique to predit weather a persons application for credit card  should be accepted or rejected

In [ ]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/Credit_card.csv')
df

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members,label
0,5008827,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,-18772.0,365243,1,0,0,0,NaN,2,1
1,5009744,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2,1
2,5009746,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,NaN,-586,1,1,1,0,NaN,2,1
3,5009749,F,Y,N,0,NaN,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2,1
4,5009752,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1494,5009000,M,Y,Y,0,157500.0,Working,Secondary / secondary special,Married,House / apartment,-9927.0,-828,1,0,0,0,Drivers,2,0
1495,5090302,F,N,Y,0,405000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-17427.0,-4874,1,0,0,1,Sales staff,2,0
1496,5067299,M,N,Y,0,225000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-9149.0,-1217,1,0,0,1,Laborers,1,0
1497,5010344,F,N,N,0,216000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-22867.0,365243,1,0,0,0,NaN,2,0
1498,5011032,F,N,Y,1,135000.0,Working,Academic degree,Civil marriage,House / apartment,-17489.0,-7557,1,0,1,0,NaN,3,0

Explaing the  information provided in each coloumns  
Features name: (Credit_Card.csv)

1) Ind_ID: Client Id

2) Gender: Gender information

3) Car_owner: Having car or not

4) Propert_owner: Having property or not

5) Children: Count of children

6) Annual_income: Annual income

7) Type_Income: Income type

8) Education: Education level

9) Marital_status: Marital status

10) Housing_type: Living style

11) Birthday_count: Use backward count from current day (0), -1 means yesterday.

12) Employed_days: Start date of employment. Use backward count from current day (0). Positive value means, individual is currently unemployed.

13) Mobile_phone: Any mobile phone

14) Work_phone: Any work phone

15) Phone: Any phone number

16) EMAIL_ID: Any email ID

17) Type_Occupation: Occupation

18) Family_Members: Family size

19 )Label: 0 is application approved and 1 is application rejected.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Ind_ID           1499 non-null   int64
 1   GENDER           1492 non-null   object
 2   Car_Owner        1499 non-null   object
 3   Propert_Owner    1499 non-null   object
 4   CHILDREN         1499 non-null   int64
 5   Annual_income    1477 non-null   float64
 6   Type_Income      1499 non-null   object
 7   EDUCATION        1499 non-null   object
 8   Marital_status   1499 non-null   object
 9   Housing_type     1499 non-null   object
 10  Birthday_count   1478 non-null   float64
 11  Employed_days    1499 non-null   int64
 12  Mobile_phone     1499 non-null   int64
 13  Work_Phone       1499 non-null   int64
 14  Phone            1499 non-null   int64
 15  EMAIL_ID         1499 non-null   int64
 16  Type_Occupation  1028 non-null   object
 17  Family_Members   1499 non-null   int64
 18  label            1499 non-null   int64
dtypes: float64(2), int64(9), object(8)
memory usage: 222.6+ KB

In [ ]:
df.isna().sum().sum()

521

result_df = pd.DataFrame(columns=['Column', 'Null Count', 'Unique Values'])

# Iterate over each column in the DataFrame
for column in df.columns:
    null_count = df[column].isnull().sum()  # Count null values
    unique_values = df[column].nunique()  # Count unique values
    unique_terms = df[column].unique()  # Get unique terms
    result_df = result_df.append({'Column': column,
                                  'Null Count': null_count,
                                  'Unique Values': unique_values,},ignore_index=True
                                  )

# Print the result DataFrame
print(result_df)

In [6]:
#result_df = pd.DataFrame(columns=['Column', 'Null Count', 'Unique Values'])

# Iterate over each column in the DataFrame
for column in df.columns:
    null_count = df[column].isnull().sum()  # Count null values
    unique_values = df[column].nunique()  # Count unique values
    unique_terms = df[column].unique()  # Get unique terms
    df1=pd.DataFrame({'Column': [column],
                    'Null Count': [null_count],
                  'Unique Values': [unique_values]})


# Print the result DataFrame
print(df1)

  Column  Null Count  Unique Values
0  label           0              2

In [10]:
# Add a column 'Unemployed' and initialize with 0
df['Unemployed'] = 0

# Make negative values in 'Employed_days' positive
df['Employed_days'] = df['Employed_days'].abs()

# Move positive values from 'Employed_days' to 'Unemployed'
positive_values = df['Employed_days'][df['Employed_days'] > 0]
df.loc[df['Employed_days'] > 0, 'Unemployed'] = positive_values

# Set all positive values in 'Employed_days' to 0
df.loc[df['Employed_days'] > 0, 'Employed_days'] = 0

df

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members,label,Unemployed
0,5008827,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,-18772.0,0,1,0,0,0,NaN,2,1,0
1,5009744,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,0,1,1,1,0,NaN,2,1,0
2,5009746,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,NaN,0,1,1,1,0,NaN,2,1,0
3,5009749,F,Y,N,0,NaN,Commercial associate,Higher education,Married,House / apartment,-13557.0,0,1,1,1,0,NaN,2,1,0
4,5009752,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,0,1,1,1,0,NaN,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1494,5009000,M,Y,Y,0,157500.0,Working,Secondary / secondary special,Married,House / apartment,-9927.0,0,1,0,0,0,Drivers,2,0,0
1495,5090302,F,N,Y,0,405000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-17427.0,0,1,0,0,1,Sales staff,2,0,0
1496,5067299,M,N,Y,0,225000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-9149.0,0,1,0,0,1,Laborers,1,0,0
1497,5010344,F,N,N,0,216000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-22867.0,0,1,0,0,0,NaN,2,0,0
1498,5011032,F,N,Y,1,135000.0,Working,Academic degree,Civil marriage,House / apartment,-17489.0,0,1,0,1,0,NaN,3,0,0

In [ ]:
null_income_rows = df[df['Annual_income'].isnull()]

# Print rows with null values in 'Annual_income' column
print("Rows with null values in 'Annual_income' column:")
print(null_income_rows)

Rows with null values in 'Annual_income' column:
       Ind_ID GENDER Car_Owner Propert_Owner  CHILDREN  Annual_income  \
3     5009749      F         Y             N         0            NaN
12    5018501      F         Y             Y         0            NaN
27    5024917      F         N             Y         0            NaN
65    5058348      F         N             Y         0            NaN
76    5062137      M         N             Y         1            NaN
107   5105056      M         Y             N         0            NaN
125   5116305      F         N             Y         0            NaN
152   5142183      M         Y             Y         2            NaN
185   5033574      F         Y             Y         1            NaN
215   5085769      F         N             Y         0            NaN
273   5047704      F         N             Y         2            NaN
324   5069227      F         Y             Y         0            NaN
381   5021682      M         N             Y         0            NaN
429   5149353      M         Y             Y         0            NaN
474   5051180      M         Y             N         1            NaN
561   5024636      F         N             Y         0            NaN
720   5024103      M         N             Y         0            NaN
915   5143620      F         N             Y         0            NaN
1011  5048305      F         N             N         0            NaN
1263  5092147      M         Y             Y         0            NaN
1299  5089556      F         Y             N         0            NaN
1386  5035431      M         Y             Y         0            NaN

               Type_Income                      EDUCATION  \
3     Commercial associate               Higher education
12                 Working  Secondary / secondary special
27               Pensioner  Secondary / secondary special
65               Pensioner               Higher education
76                 Working  Secondary / secondary special
107   Commercial associate               Higher education
125              Pensioner  Secondary / secondary special
152   Commercial associate               Higher education
185                Working  Secondary / secondary special
215   Commercial associate  Secondary / secondary special
273                Working  Secondary / secondary special
324   Commercial associate  Secondary / secondary special
381   Commercial associate  Secondary / secondary special
429   Commercial associate               Higher education
474                Working  Secondary / secondary special
561                Working  Secondary / secondary special
720                Working  Secondary / secondary special
915              Pensioner  Secondary / secondary special
1011               Working               Higher education
1263               Working  Secondary / secondary special
1299               Working              Incomplete higher
1386               Working  Secondary / secondary special

            Marital_status         Housing_type  Birthday_count  \
3                  Married    House / apartment        -13557.0
12                 Married    House / apartment        -18950.0
27                 Married    House / apartment        -21832.0
65               Separated    House / apartment        -24611.0
76    Single / not married    House / apartment        -12947.0
107   Single / not married  Municipal apartment        -11528.0
125                Married    House / apartment        -22655.0
152                Married    House / apartment        -17841.0
185                Married    House / apartment        -14222.0
215                Married    House / apartment        -19310.0
273   Single / not married    House / apartment        -14717.0
324                Married    House / apartment        -17330.0
381              Separated    House / apartment        -18745.0
429                Married    House / apartment        -12208.0
474                Married    House / apartment        -13086.0
561                Married    House / apartment        -19922.0
720                Married    House / apartment        -20185.0
915                Married    House / apartment        -23208.0
1011             Separated    House / apartment        -21887.0
1263  Single / not married    House / apartment        -10386.0
1299  Single / not married    House / apartment        -11406.0
1386  Single / not married    House / apartment        -14138.0

      Employed_days  Mobile_phone  Work_Phone  Phone  EMAIL_ID  \
3               586             1           1      1         0
12             1002             1           1      1         0
27           365243             1           0      1         0
65           365243             1           0      0         0
76              137             1           0      0         0
107             606             1           0      1         1
125          365243             1           0      0         0
152            4305             1           1      1         0
185             141             1           1      1         0
215            1477             1           0      0         0
273            1496             1           0      0         0
324             962             1           0      1         0
381            3653             1           0      0         0
429            3273             1           0      0         0
474            1931             1           0      1         0
561            1128             1           0      0         0
720            2589             1           0      0         0
915          365243             1           0      1         0
1011           1526             1           0      0         0
1263            412             1           1      0         0
1299           3078             1           1      0         0
1386           1072             1           0      0         0

            Type_Occupation  Family_Members  label  Unemployed
3                       NaN               2      1           0
12            Cooking staff               2      1           0
27                      NaN               2      1      365243
65                      NaN               1      1      365243
76                 Laborers               2      1           0
107   High skill tech staff               1      1           0
125                     NaN               2      1      365243
152                Managers               4      1           0
185           Cooking staff               3      0           0
215          Cleaning staff               2      0           0
273                     NaN               3      0           0
324             Sales staff               2      0           0
381          Cleaning staff               1      0           0
429             Accountants               2      0           0
474                Laborers               3      0           0
561                     NaN               2      0           0
720          Security staff               2      0           0
915                     NaN               2      0      365243
1011             Core staff               1      0           0
1263                    NaN               1      0           0
1299               Managers               1      0           0
1386                Drivers               1      0           0

In [ ]:
# Group data by 'Type_Occupation' and calculate the mean of 'Annual_income'
occupation_mean_income = df.groupby('Type_Income')['Annual_income'].mean()

# Print unique values of 'Type_Occupation' and their mean annual incomes
print("Unique values of 'Type_Occupation' and their mean annual incomes:")
for occupation, mean_income in occupation_mean_income.items():
    print(f"{occupation}: {mean_income}")

Unique values of 'Type_Occupation' and their mean annual incomes:
Commercial associate: 236101.7195467422
Pensioner: 155275.2096153846
State servant: 212142.85714285713
Working: 182596.23126614987

In [ ]:
occupation_mean_income_dict = {
    'Commercial associate': 236101,
    'Pensioner': 154012,
    'State servant': 212142,
    'Working': 181824
}

# Fill null values in 'Annual_income' based on 'Type_Occupation'
for occupation, mean_income in occupation_mean_income_dict.items():
    df['Annual_income'].fillna(mean_income, inplace=True)

# Verify the DataFrame after filling null values
df

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members,label,Unemployed
0,5008827,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,-18772.0,0,1,0,0,0,NaN,2,1,0
1,5009744,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,0,1,1,1,0,NaN,2,1,0
2,5009746,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,NaN,0,1,1,1,0,NaN,2,1,0
3,5009749,F,Y,N,0,236101.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,0,1,1,1,0,NaN,2,1,0
4,5009752,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,0,1,1,1,0,NaN,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1494,5009000,M,Y,Y,0,157500.0,Working,Secondary / secondary special,Married,House / apartment,-9927.0,0,1,0,0,0,Drivers,2,0,0
1495,5090302,F,N,Y,0,405000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-17427.0,0,1,0,0,1,Sales staff,2,0,0
1496,5067299,M,N,Y,0,225000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-9149.0,0,1,0,0,1,Laborers,1,0,0
1497,5010344,F,N,N,0,216000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-22867.0,0,1,0,0,0,NaN,2,0,0
1498,5011032,F,N,Y,1,135000.0,Working,Academic degree,Civil marriage,House / apartment,-17489.0,0,1,0,1,0,NaN,3,0,0

In [ ]:
df['Type_Occupation'].fillna('Not Mentioned',inplace=True)

In [ ]:
df.isna().sum()

Ind_ID              0
GENDER              7
Car_Owner           0
Propert_Owner       0
CHILDREN            0
Annual_income       0
Type_Income         0
EDUCATION           0
Marital_status      0
Housing_type        0
Birthday_count     21
Employed_days       0
Mobile_phone        0
Work_Phone          0
Phone               0
EMAIL_ID            0
Type_Occupation     0
Family_Members      0
label               0
Unemployed          0
dtype: int64

In [ ]:
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [ ]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()
# Fit and transform the 'Size' column
df['Car_Owner(encoded)'] = label_encoder.fit_transform(df['Car_Owner'])
df['Propert_Owner(encoded)'] = label_encoder.fit_transform(df['Propert_Owner'])
df['Type_Income(encoded)'] = label_encoder.fit_transform(df['Type_Income'])
df['EDUCATION(encoded)']  = label_encoder.fit_transform(df['EDUCATION'])
df['Housing_type(encoded)']  = label_encoder.fit_transform(df['Housing_type'])
df['Marital_status(encoded)']=label_encoder.fit_transform(df['Marital_status'])
df['Type_Occupation(encoded)']=label_encoder.fit_transform(df['Type_Occupation'])

In [ ]:
from sklearn.model_selection import train_test_split

# Splitting the dataset into features (X) and target (y)
X = df[['Car_Owner(encoded)', 'Propert_Owner(encoded)', 'CHILDREN', 'Annual_income',
        'Type_Income(encoded)', 'EDUCATION(encoded)', 'Marital_status(encoding)', 'Housing_type(encoded)',
         'Employed_days', 'Mobile_phone', 'Work_Phone',
        'Phone', 'EMAIL_ID', 'Type_Occupation(encoding)', 'Family_Members']]
y = df['label']

# Splitting the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100)

In [ ]:
# Create a mask to identify rows with negative values in the training data
negative_mask = (X_train < 0).any(axis=1)

# Filter the training data to include only rows with negative values
rows_with_negative_values = X_train[negative_mask]

# Print the rows containing negative values
print("Rows containing negative values in the training data:")
print(rows_with_negative_values)

Rows containing negative values in the training data:
Empty DataFrame
Columns: [Car_Owner(encoded), Propert_Owner(encoded), CHILDREN, Annual_income, Type_Income(encoded), EDUCATION(encoded), Marital_status(encoding), Housing_type(encoded), Employed_days, Mobile_phone, Work_Phone, Phone, EMAIL_ID, Type_Occupation(encoding), Family_Members]
Index: []

ValueError                                Traceback (most recent call last)
<ipython-input-72-4bf6057fa576> in <cell line: 2>()
      1 from sklearn.feature_selection import chi2
----> 2 f_p_values=chi2(X_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/feature_selection/_univariate_selection.py in chi2(X, y)
    215     X = check_array(X, accept_sparse="csr", dtype=(np.float64, np.float32))
    216     if np.any((X.data if issparse(X) else X) < 0):
--> 217         raise ValueError("Input X must be non-negative.")
    218
    219     # Use a sparse representation for Y by default to reduce memory usage when

ValueError: Input X must be non-negative.

In [ ]:
from sklearn.feature_selection import chi2
f_p_values=chi2(X_train,y_train)

In [ ]:
p_values=pd.Series(f_p_values[1])
p_values.index=X_train.columns
p_values

Car_Owner(encoded)           0.979933
Propert_Owner(encoded)       0.461060
CHILDREN                     0.536851
Annual_income                0.000000
Type_Income(encoded)         0.026676
EDUCATION(encoded)           0.522491
Marital_status(encoding)     0.127178
Housing_type(encoded)        0.984411
Employed_days                     NaN
Mobile_phone                 1.000000
Work_Phone                   0.936985
Phone                        0.832981
EMAIL_ID                     0.770603
Type_Occupation(encoding)    0.711850
Family_Members               0.472782
dtype: float64